<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991811837814-t23rs8n4e4h215ju5656krg4ucms1ap1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991811837814-t23rs8n4e4h215ju5656krg4ucms1ap1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>991811837814-dvt43epsm72m32il4ut9rp7vcdjkppul.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEMK7JAD6VbnxbYqIzGqBTEmVliqqvQ2s</string>
	<key>GCM_SENDER_ID</key>
	<string>991811837814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhatti.pixhunt</string>
	<key>PROJECT_ID</key>
	<string>arcane-bus-466702-a4</string>
	<key>STORAGE_BUCKET</key>
	<string>arcane-bus-466702-a4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991811837814:ios:2fec6cec1da1e5828f2457</string>
</dict>
</plist>